{# Renders field for bootstrap 3 standards.

    Params:
        field - WTForm field
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_field(form.email, placeholder='Input email', type='email') }}
#}
{% macro render_field(field, label_visible=true) -%}
    <div class="form-group {{ kwargs.pop('class_', '') }}">
      {% if (field.type != 'HiddenField' and field.type !='CSRFTokenField') and label_visible %}
      <label for="{{ field.id }}">{{ field.label }}</label>
      {% endif %}
      {% if field.errors %}
      {{ field(class_='form-control is-invalid', **kwargs) }}
      {% for e in field.errors %}
      <small class="form-text text-muted">{{ e }}</small>
      {% endfor %}
      {% else %}
      {{ field(class_='form-control', **kwargs) }}
      {% endif %}
    </div>
{%- endmacro %}

{# Renders checkbox fields since they are represented differently in bootstrap
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_checkbox_field(form.remember_me) }}
 #}
{% macro render_checkbox_field(field) -%}
    <div class="form-group">
      <div class="custom-control custom-checkbox">
        {{ field(type='checkbox', class_='custom-control-input', **kwargs) }}
        <label for="{{ field.id }}" class="custom-control-label">{{ field.label }}</label>
      </div>
    </div>
{%- endmacro %}

{# Renders radio field
    Params:
        field - WTForm field (there are no check, but you should put here only BooleanField.
        kwargs - pass any arguments you want in order to put them into the html attributes.
        There are few exceptions: for - for_, class - class_, class__ - class_

    Example usage:
        {{ macros.render_radio_field(form.answers) }}
 #}
{% macro render_radio_field(field) -%}
    <div class="form-group">
      {% for value, label, _ in field.iter_choices() %}
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">
        <label class="custom-control-label" for="{{ field.id }}">{{ label }}</label>
      </div>
      {% endfor %}
    </div>
{%- endmacro %}

{# Renders WTForm in bootstrap way. There are two ways to call function:
     - as macros: it will render all field forms using cycle to iterate over them
     - as call: it will insert form fields as you specify:
     e.g. {% call macros.render_form(form, action_url=url_for('login_view'), action_text='Login',
                                        class_='login-form') %}
                {{ macros.render_field(form.email, placeholder='Input email', type='email') }}
                {{ macros.render_field(form.password, placeholder='Input password', type='password') }}
                {{ macros.render_checkbox_field(form.remember_me, type='checkbox') }}
            {% endcall %}

     Params:
        form - WTForm class
        action_url - url where to submit this form
        action_text - text of submit button
        class_ - sets a class for form
    #}
{% macro render_form(form, action_url='', action_text='Save', return_url='', class_='') -%}
    <form method="POST" action="{{ action_url }}" role="form" class="{{ class_ }}">
      {{ form.csrf_token }}
      {{ form.hidden_tag() if form.hidden_tag }}
      {% if caller %}
      {{ caller() }}
      {% else %}
      {% for f in form %}
      {% if f.type == 'BooleanField' %}
      {{ render_checkbox_field(f) }}
      {% elif f.type == 'RadioField' %}
      {{ render_radio_field(f) }}
      {% else %}
      {{ render_field(f) }}
      {% endif %}
      {% endfor %}
      {% endif %}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">{{ action_text }}</button>
        <a href="{{ return_url }}" class="btn btn-danger">Cancel</a>
      </div>
    </form>
{%- endmacro %}
